<!DOCTYPE html>
<html>

<head>
  <title>Books</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- header %>
  <% books.forEach(book => { %>
  <p><a href="/book/<%= book.id %>"><%= book.name %></a></p>
  <%}) %>
</body>

<%- footer %>

</html>